{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Company A</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->

    <link href="{% static 'css/Companybootstrap.min .css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'css/CustomerStyle.css' %}" rel="stylesheet" />
    <link href="{% static 'css/CRMstyle.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div class="container-fluid position-relative d-flex p-0">
      <!-- Spinner Start -->
      <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Content Start -->
      <div class="content open">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
          <a href="index.html" class="navbar-brand d-flex d-lg-none me-4"><h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2></a>
          <a href="#" class="flex-shrink-0">Company A</a>

          <div class="navbar-nav align-items-center ms-auto">
            <a href="{% url 'CompanyDashboardView' %}" class="nav-link">
              <i class="fa fa-dashboard me-lg-2"></i>
              <span class="d-none d-lg-inline-flex">Dashboard</span>
            </a>
            <a href="{% url 'CompanyReportView' %}" class="nav-link active">
              <i class="fa fa-users me-lg-2"></i>
              <span class="d-none d-lg-inline-flex">CRM</span>
            </a>

            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px" />
                <span class="d-none d-lg-inline-flex">John Doe</span>
              </a>
              <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="{% url 'Logout' %}" class="dropdown-item">Log Out</a>
              </div>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->
        <!-- Blank Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="drag-container"></div>
          <div class="board">
            {% for Title, ServiceRequest in ServiceRequests.items %}
              <div id="{{ Title }}" class="board-column">
                <div class="board-column-container">
                  <div class="board-column-header">{{ Title }}</div>
                  <div class="board-column-content-wrapper">
                    <div class="board-column-content">
                      {% for Request in ServiceRequest %}
                        <div id="{{ Request.id }}" class="board-item">
                          <div class="board-item-content bg-secondary rounded">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                              <h6 class="mb-0">SWIFT Connect</h6>
                              <img class="rounded-circle flex-shrink-0" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px" />
                            </div>
                            <div class="d-flex align-items-center border-bottom border-top">
                              <div class="w-100 ms-0">
                                <div class="d-flex w-100 justify-content-between">
                                  <small class="m-1">Company Name</small>
                                  <h6 class="m-2 h6Font">{{ Request.Customer }}</h6>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                  <small class="m-1">Expected_price</small>
                                  <h6 class="m-2 h6Font">${{ Request.Expected_price }}</h6>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                  <small class="m-1">Description</small>
                                  <h6 class="m-2 h6Font">{{ Request.Expected_price }}</h6>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                  <small class="m-1">Document</small>
                                  <h6 class="m-2 h6Font">xwes</h6>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                  <small class="m-1">Deadline</small>
                                  <h6 class="m-2 h6Font">{{ Request.Date }}</h6>
                                </div>
                                <!-- <span>Short message goes here...</span> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <!-- Blank End -->

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-secondary rounded-top p-4">
            <div class="row">
              <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Company A</a>, All Right Reserved.
              </div>
              <div class="col-12 col-sm-6 text-center text-sm-end">
                Designed By <a href="https://www.linkedin.com/in/ahmed-mo-36176b16b/">Ahmed Muhamed</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/haltu/muuri@0.9.5/dist/muuri.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.2/web-animations.min.js"></script>

    <script src="{% static 'lib/chart/chart.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/CustomerMain.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
