<!DOCTYPE html>
<html>

<head>
    <title>Your HTML Template</title>
</head>

<body>
    <h1>Welcome {{ user.name }}</h1>
    <p>{{ data }}</p>
    <a href="{% url 'Logout' %}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">
        Logout </a>
</body>

</html>