{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8" />
  <title>Responsive Registration Form | CodingLab</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <div class="title">Login</div>

    <div class="content">
      {% if wrong_pass %}
      <div class="alert alert-danger alert-dismissible bg" role="alert">
        <div id="form_errors">

          <strong>Wrong Pass</strong>

        </div>
      </div>
      {% endif %}
      {% if register %}
      <div class="alert alert-success alert-dismissible bg" role="alert">
        <div id="form_errors">

          <strong>Successfully Register</strong>

        </div>
      </div>
      {% endif %}
      <form action="{% url 'Login' %}" method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Email <span class="spanReq"> *</span></span>
            <input value="harone@gmail.com" name="email" type="text" placeholder="Enter your email" required />
          </div>


          <div class="input-box">
            <span class="details">Password <span class="spanReq"> *</span></span>
            <input value="harone" name="password" type="text" placeholder="Enter your password" required />
          </div>

        </div>
        <a href="{% url 'Register' %}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">
          SignUp</a>

        <div class="button">
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
  </div>
</body>

</html>