{% load static %}
<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0" id="home">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="m-0">Company A</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#overview" class="nav-item nav-link">Overview</a>
                <a href="#features" class="nav-item nav-link">Features</a>
                <a href="#pricing" class="nav-item nav-link">Pricing</a>
                <a href="#testimonial" class="nav-item nav-link">Testimonial</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
            </div>
            <a href="{% url 'Login' %}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">
                Login/SignUp</a>
        </div>
    </nav>

    <div class="container-xxl bg-color hero-header">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="text-white mb-4 animated slideInDown">
                        Awesome Software To Manage Your Business
                    </h1>
                    <p class="text-white pb-3 animated slideInDown">
                        Tempor rebum no at dolore lorem clita rebum rebum ipsum rebum
                        stet dolor sed justo kasd dolor sed magna dolor.
                    </p>
                    <div class="position-relative w-100 mt-3">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                            placeholder="Your Email" style="height: 58px" />
                        <button type="button"
                            class="btn btn-dark rounded-pill py-2 px-3 shadow-none position-absolute top-0 end-0 m-2">
                            Free Trail
                        </button>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid rounded animated zoomIn" src="{% static 'img/hero.jpg' %}" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero End -->