{% load static %}

<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
        <h1 class="m-0">Company A</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler rounded-pill" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto py-0">
            <a href="#home" class="nav-item nav-link active">Home</a>
            <a href="#about" class="nav-item nav-link">About</a>
            <a href="#overview" class="nav-item nav-link">Overview</a>
            <a href="#features" class="nav-item nav-link">Features</a>
            <a href="#pricing" class="nav-item nav-link">Pricing</a>
            <a href="#testimonial" class="nav-item nav-link">Testimonial</a>
            <a href="#contact" class="nav-item nav-link">Contact</a>
        </div>
        <a href="{% url 'Login' %}" class="btn btn-light rounded-pill py-2 px-4 ms-3 d-none d-lg-block">
            Login/SignUp</a>
    </div>
</nav>